<div class="col-md-8 order-md-1 offset-md-2">
        <h4 class="mb-3">Job Detail</h4>
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="firstName">Job Title</label>
           <div class="info-detail">{{name}}</div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">No of Vacant Posts</label>
            <div class="info-detail">{{noOfPosition}}</div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="email">Company location</label>
            <div class="info-detail">{{location}}</div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="phone">Salary Range</label>
            <div class="info-detail">{{minSalary}} - {{maxSalary}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="country">Employee Type</label>
            <div class="info-detail">{{employeeType}}</div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="education">Job Description</label>
            <div class="info-detail">{{jobDescription}}</div>
          </div>

        </div>

       </form>
      </div>
