
                <div class="col-md-8 order-md-1 offset-md-2">
                  <h4 class="mb-3">Add Company profile</h4>
                  <form  [formGroup]="employeeProfileForm" (ngSubmit)="onSubmit()" class="form">
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="companyName">Company Name</label>
                        <input type="text" class="form-control" id="companyName" formControlName="companyName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                          Valid first name is required.
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="websiteLink">Website Link</label>
                        <input type="text" class="form-control" id="websiteLink" formControlName="websiteLink" placeholder="" value="" required>
                        <div class="invalid-feedback">
                          Valid last name is required.
                        </div>
                      </div>
                    </div>

                    <div class="row">
                
                        <div class="col-md-6 mb-3">
                            <label for="email">Email </label>
                            <input type="email" class="form-control" id="email" formControlName="email" placeholder="you@example.com">
                            <div class="invalid-feedback">
                              Please enter a valid email address for shipping updates.
                            </div>
                          </div>

                        <div class="col-md-6 mb-3">
                          <label for="contactNo">Contact No.</label>
                          <input type="text" class="form-control" id="contactNo" formControlName="contactNo"  placeholder="" value="" required>
                          <div class="invalid-feedback">
                            Valid last name is required.
                          </div>
                        </div>
                      </div>
                      

                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <label for="cc-expiration">Introduction</label>                       
                          <textarea class="form-control" rows="10" id="cc-expiration" formControlName="introduction" placeholder="" required></textarea>
                          <div class="invalid-feedback">
                            Expiration date required
                          </div>
                        </div>  
                      </div>
                      
                      <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="typeOfBusiness">Type of Business</label>
                        <input type="text" class="form-control" id="typeOfBusiness" formControlName="typeOfBusiness" placeholder="" value="" required>
                        <div class="invalid-feedback">
                          Valid last name is required.
                        </div>
                      </div>
                      </div>
                  
                    

                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="street">Street</label>
                        <input type="text" class="form-control" id="street"  formControlName="street" placeholder="" value="" required>
                        <div class="invalid-feedback">
                          Valid last name is required.
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="city">City</label>
                        
                        <input type="text" class="form-control" id="city" formControlName="city" placeholder="" value="" required>
                        <div class="invalid-feedback">
                          Valid last name is required.
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3 mb-3">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" formControlName="state" placeholder="" value="" required>
                        <div class="invalid-feedback">
                          Valid last name is required.
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        
                        <input type="text" class="form-control" id="zip" formControlName="zip" placeholder="" value="" required>
                        <div class="invalid-feedback">
                          Valid last name is required.
                        </div>
                      </div>
                    </div>
    
    
                  
                    
              
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
                  </form>
                </div>