   
                <div class="col-md-8 order-md-1 offset-md-2">
                  <h4 class="mb-3">View Company profile</h4>
                  <form class="needs-validation" novalidate>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                      
                        <label for="resume">Company Name</label>
                        <div class="info-detail">Donec id elit non mi porta gravida at eget metus</div>
                        
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="websiteLink">Website Link</label>
                        <div class="info-detail">
                            Donec id elit non mi porta gravida at eget metus
                        </div>

                      </div>
                    </div>

                    <div class="row">
                
                        <div class="col-md-6 mb-3">
                            <label for="email">Email </label>
                            <div class="info-detail">
                                    abdcompany@gmail.com
                            </div>
                          </div>

                        <div class="col-md-6 mb-3">
                          <label for="contactNo">Contact No.</label>
                          <div class="info-detail">
                                641-432-2312
                            </div>
                        </div>
                      </div>
                      

                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <label for="cc-expiration">Introduction</label>  
                          <div class="info-detail">
                                Donec id elit non mi porta gravida at eget metus.Donec id elit non mi porta gravida at eget metus.
                                Donec id elit non mi porta gravida at eget metus.Donec id elit non mi porta gravida at eget metus.
                                Donec id elit non mi porta gravida at eget metus.
                                Donec id elit non mi porta gravida at eget metus
                            </div>                     
                         </div>  
                      </div>
                      
                      <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="typeOfBusiness">Type of Business</label>
                        <div class="info-detail">
                                Donec id elit non mi porta gravida at eget metus
                            </div>
                      </div>
                      </div>
                  
                      <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="address">Address</label>
                        <div class="info-detail">
                                Donec id elit non mi porta gravida at eget metus
                            </div>
                      </div>
                    </div>
    
                  
                    
              
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Back</button>
                  </form>
                </div>
              
