<div class="col-md-8 order-md-1 offset-md-2">
  <h4 class="mb-3">My Profile</h4>
<form class="needs-validation" novalidate>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="firstName">First name</label>
     <div class="info-detail">Name1</div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="lastName">Last name</label>
      <div class="info-detail">Name2</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="email">Email</label>
      <div class="info-detail">me@mum.edu</div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="phone">Phone</label>
      <div class="info-detail">Phone</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="country">Country</label>
      <div class="info-detail">USA</div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="location">Location</label>
      <div class="info-detail">Fairfield</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 mb-3">
      <label for="education">Education Level</label>
      <div class="info-detail">Masters</div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="job">Latest Job Position</label>
     <div class="info-detail">CEO</div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="experience">Years of Experience</label>
      <div class="info-detail">15</div>
    </div>
  </div>

 

 <div class="row">
    <div class="col-md-6 mb-3">
      <label for="skills">Skills</label>
      <div class="info-detail">Java</div>
      
    </div>
    <div class="col-md-6">
      <label for="resume">Resume</label>
      <div class="info-detail">link</div>

      
    </div>
  </div>
 
 </form>
</div>