  <div class="col-md-8 order-md-1 offset-md-2">
            <h4 class="mb-3">Profile</h4>
         <form class="needs-valnameation" method="POST" [formGroup]="addProfile" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" formControlName="firstName" name="firstName" placeholder="" value="" required>
                <div class="invalname-feedback">
                  Valname first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" formControlName="lastName" name="lastName" placeholder="" value="" required>
                <div class="invalname-feedback">
                  Valname last name is required.
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" formControlName="email" name="email" placeholder="Email" value="" required>
                <div class="invalname-feedback">
                  Valname email is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="phone">Phone</label>
                <input type="phone" class="form-control" formControlName="phone" name="phone" placeholder="Phone" value="" required>
                <div class="invalname-feedback">
                  Valname phone is required.
                </div>
              </div>
            </div>
           
            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="education">Education Level</label>
                <select class="custom-select d-block w-100" formControlName="educationLevel"  name="educationLevel" required>
                  <option value="">Choose...</option>
                  <option>PhD</option>
                  <option>Masters</option>
                  <option>Undergraduate</option>
                </select>
                <div class="invalname-feedback">
                  Please select a education level.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="job">Latest Job Position</label>
                <input type="text" class="form-control" formControlName="latestJobLevel" name="latestJobLevel" placeholder="Latest Position" value="" required>
                <div class="invalname-feedback">
                  Position is required.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="experience">Years of Experience</label>
                <input type="number" class="form-control" formControlName="workExperience" name="workExperience" placeholder="Years of Experience" required>
                <div class="invalname-feedback">
                  Experience required.
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="country">Country</label>
                <input type="text" class="form-control" formControlName="country" name="country" placeholder="Country" value="" required>
                <div class="invalname-feedback">
                  Country is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="location">Location</label>
                <input type="text" class="form-control" formControlName="location" name="location" placeholder="Location" value="" required>
                <div class="invalname-feedback">
                  Location is required.
                </div>
              </div>
            </div>

           <div class="row">
              <div class="col-md-6 mb-3">
                <label for="skills">Skills</label>
                <input type="text" class="form-control" formControlName="skillSet" name="skillSet" placeholder="Skills" value="" required>
                <div class="invalname-feedback">
                  Skills are required.
                </div>
              </div>
              <div class="col-md-6 mb-3 custom-file">
                <label for="resume">LinkedIn Profile</label>
                <input type="text" class="form-control" formControlName="linkedinProfile" name="linkedinProfile"  value="" required>

                
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
           
           </form>
        </div>
