    <div class="col-md-12">
      <!-- <h2 class="text-center text-white mb-4">Login Form</h2> -->
      <div class="row">
        <div class="col-md-6 mx-auto">

          <!-- form card login -->
          <div class="card rounded-0">
            <div class="card-header">
              <h3 class="mb-0">Job Seeker Sign Up </h3>
            </div>
            <div class="card-body">
              <form class="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="uname1">First Name</label>
                  <input type="text" class="form-control form-control-lg rounded-0" formControlName="firstName">
                  <div class="is-invalid" *ngIf="submitted && f.firstName.errors">
                      <div *ngIf="f.firstName.errors.required">First Name is required.</div>
                    </div>
                </div>
                <div class="form-group">
                  <label for="uname1">Last Name</label>
                  <input type="text" class="form-control form-control-lg rounded-0" formControlName="lastName">
                  <div class="is-invalid" *ngIf="submitted && f.lastName.errors">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="uname1">Email</label>
                  <input type="email" class="form-control form-control-lg rounded-0" formControlName="email" autocomplete="username">
                  <div class="is-invalid" *ngIf="submitted && f.email.errors">
                      <div *ngIf="f.email.errors.required">Email is required.</div>
                      <div *ngIf="f.email.errors.email">Please enter valid email.</div>
                    </div>
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control form-control-lg rounded-0" formControlName="password" autocomplete="new-password" >
                  <div class="is-invalid" *ngIf="submitted && f.password.errors">
                      <div *ngIf="f.password.errors.required">Password is required.</div>
                  </div>
                </div>

                <div>
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="checkbox" formControlName="accept">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description small text-dark">I accept the Terms  of Use & Privacy Policy.</span>
                  </label>
              </div>

                <button type="submit" class="btn btn-primary btn-lg float-left" id="btnLogin" >Sign Up</button>

              </form>
            </div>
            <span>If your are employer <a [routerLink] = "['/employer/signup']" > signup here</a></span>
            <!--/card-block-->
          </div>
          <!-- /form card login -->

        </div>


      </div>
      <!--/row-->

    </div>
    <!--/col-->
