<div class="mt-3 col-md-10 offset-md-1">
        <h4>List of Applied Jobs</h4>
        <div class="d-flex flex-row border rounded single-job" *ngFor="let job of jobs">
            <div class="pl-3 pt-2 pr-2 pb-2 w-100 border-left">

                <div class="row">

                    <div class="col-md-10">
                        <h5>{{job.title}}</h5>
                        <h6>Company : {{job.company}}</h6>
                        <small>{{job.location?.city}} <span *ngIf="job.location">, </span> {{job.location?.state}}</small>

                        <p><small>Deadline {{job.deadline}}</small></p>
                    </div>
                    <div class="col-md-2">
                    <p class="text-right m-0"><a [routerLink]="['/job/detail', job._id]" class="btn btn-primary"><i class="far fa-user"></i> View Detail</a></p>
                        <small>{{job.publishedDate | date : format : timezone}}</small>
                    </div>
              </div>
          </div>
        </div>
      </div>
