  <div class="col-md-8 order-md-1 offset-md-2">
            <h4 class="mb-3">Profile</h4>
         <form class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" value="" required>
                <div class="invalid-feedback">
                  Valid email is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="phone">Phone</label>
                <input type="phone" class="form-control" id="phone" placeholder="Phone" value="" required>
                <div class="invalid-feedback">
                  Valid phone is required.
                </div>
              </div>
            </div>
           
            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="education">Education Level</label>
                <select class="custom-select d-block w-100" id="education" required>
                  <option value="">Choose...</option>
                  <option>PhD</option>
                  <option>Masters</option>
                  <option>Undergraduate</option>
                </select>
                <div class="invalid-feedback">
                  Please select a education level.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="job">Latest Job Position</label>
                <input type="text" class="form-control" id="job" placeholder="Latest Position" value="" required>
                <div class="invalid-feedback">
                  Position is required.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="experience">Years of Experience</label>
                <input type="number" class="form-control" id="experience" placeholder="Years of Experience" required>
                <div class="invalid-feedback">
                  Experience required.
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" placeholder="Country" value="" required>
                <div class="invalid-feedback">
                  Country is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" placeholder="Location" value="" required>
                <div class="invalid-feedback">
                  Location is required.
                </div>
              </div>
            </div>

           <div class="row">
              <div class="col-md-6 mb-3">
                <label for="skills">Skills</label>
                <input type="text" class="form-control" id="skills" placeholder="Skills" value="" required>
                <div class="invalid-feedback">
                  Skills are required.
                </div>
              </div>
              <div class="col-md-6 mb-3 custom-file">
                <label for="resume">Resume</label>
                <input type="file" class="form-control" id="resume"  value="" required>

                
              </div>
            </div>
            <button type="button" class="btn btn-primary">Save</button>
           
           </form>
        </div>
