<div class="col-md-8 order-md-1 offset-md-2">
        <h4 class="mb-3">Candidate Profile</h4>
        <div class="row form-group">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
           <div class="info-detail">{{firstName}}</div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <div class="info-detail">{{lastName}}</div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-6 mb-3">
            <label for="email">Email</label>
            <div class="info-detail">{{email}}</div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="phone">Phone</label>
            <div class="info-detail">{{phone}}</div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6 mb-3">
            <label for="country">Country</label>
            <div class="info-detail">{{country}}</div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="location">Location</label>
            <div class="info-detail">{{location}}</div>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-5 mb-3">
            <label for="education">Education Level</label>
            <div class="info-detail label">{{educationLevel}}</div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="job">Latest Job Position</label>
           <div class="info-detail">{{latestJobLevel}}</div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="experience">Years of Experience</label>
            <div class="info-detail">{{workExperience}}</div>
          </div>
        </div>

       <div class="row form-group">
          <div class="col-md-6 mb-3">
            <label for="skills">Skills</label>
            <div class="info-detail"><span *ngFor="let skill of skillSet">{{ skill.name }}, </span> </div>
          </div>
       </div>
       <div class="row form-group">
          <div class="col-md-6">
            <label class="label" for="resume">LinkedIn Profile</label>
            <div class="info-detail">{{linkedinProfile}}</div>
          </div>
        </div>

        <div class="row form-group" *ngIf="resume">
            <div class="col-md-6">
              <label class="label" for="resume">
                <a target="_blank" href="http://localhost:3600/candidate/resume/{{ resume }}">View Resume</a>
              </label>
            </div>
          </div>
      </div>
