
<div class="create-job col-md-8 order-md-1 offset-md-2">
  <h4 class="mb-3">Create New Job</h4>
  <form  [formGroup]="createJobForm" (ngSubmit)="onSubmit()" class="form">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="jobTitle">Job Title</label>
        <input type="text" class="form-control" formControlName="jobTitle" id="jobTitle" placeholder="" value="" required>
        <div class="invalid-feedback">
          Valid first name is required.
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="noOfPosition">No. of Position</label>
        <input type="text" class="form-control" id="noOfPosition" formControlName="noOfPosition" placeholder="" value="" required>
        <div class="invalid-feedback">
          Valid last name is required.
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
          <label for="minSalary">Min Salary</label>
          <input type="text" class="form-control" id="minSalary" formControlName="minSalary"  placeholder="" value="" required>
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="maxSalary">Max Salary</label>
          <input type="text" class="form-control" id="maxSalary" formControlName="maxSalary" placeholder="" value="" required>
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>
      </div>    
  
    <hr class="mb-4">
    <div class="row">
    <div class="col-md-4 my-3">
        <label for="jobDescription">Employment Type</label> 
        <select class="custom-select d-block w-100" formControlName="employeeType"  name="educationLevel" required>
          <option value="">Choose...</option>
          <option>Part Time</option>
          <option>Full Time</option> 
         </select> 
     </div>
     </div>
    
    <div class="row">
      <div class="col-md-12 mb-3">
        <label for="jobDescription">Job Description</label>                       
        <textarea class="form-control" rows="10" id="jobDescription" formControlName="jobDescription" placeholder="" required></textarea>
        <div class="invalid-feedback">
          Expiration date required
        </div>
      </div>
    </div>

  
     <div class="row">
          <div class='col-sm-3'>
              <label for="deadline">Deadline</label>     
              <div class="form-group">
                  <div class='input-group date' id='datetimepicker1'>
                      <input type='text' formControlName="deadline" class="form-control" />
                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
              </div>
          </div>
      </div>

    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
  </form>
</div>