<app-job-detail> </app-job-detail>
<hr class="mb-4">

<div class="row mb-3">


  <div *ngFor="let candidate of data;" class="mt-3 col-md-6">
    <div class="d-flex flex-row border rounded">
        <div class="pl-3 pt-2 pr-2 pb-2 w-100 border-left">
            <h4 class="text-primary">{{candidate.firstName}} {{candidate.lastName}}</h4>
            <h5 class="text-info">Photographer</h5>
            <ul class="m-0 float-left" style="list-style: none; margin:0; padding: 0">
              <li>Skills : {{candidate.skillSet}}</li>
              <li>Years of Experience :{{workExperience}}</li>
            </ul>
          <p class="text-right m-0"><a href="#" class="btn btn-primary"><i class="far fa-user"></i> View Profile</a></p>
      </div>
    </div>
  </div>


</div>