<div class="job-nav d-flex flex-column flex-md-row align-items-center navbar navbar-expand-lg">
    <a [routerLink]="['/home']" class="navbar-brand">
      <img [routerLink]="['/home']" src="../../../assets/images/logo.png" alt="">
    </a>

  <div class="container">

    <h5 class="my-0 mr-md-auto font-weight-normal"></h5>


    <span *ngIf="isAuthenticated()">
            <nav class="my-2 my-md-0 mr-md-3">
              <span *ngIf="isEmployeePage()">
                <a class="p-2 text-dark" [routerLink]="['employer']">Home</a>
                <a class="p-2 text-dark" [routerLink]="['employer/job']">Post New Job</a>
              </span>
    <span *ngIf="isSeekerPage()">
            <a class="p-2 text-dark" [routerLink]="['']">Home</a>
            <a class="p-2 text-dark" [routerLink]="['/myjobs']">Applied jobs</a>
      </span>
    </nav>
    </span>

    <span *ngIf="!isAuthenticated()">
        <a [routerLink]="['/signup']" class="btn border-primary" style="margin-right:10px;">Sign Up</a>
        <a [routerLink]="['/login']" class="btn border-success" >LogIn</a>
    </span>

    <ul class="navbar-nav " *ngIf="isAuthenticated()">
      <li class="nav-item dropdown" *ngIf="isSeekerPage()">
        <a href="#" class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ (seekerProfile | async)?.profile.firstName }}
            </a>
        <div class="dropdown-menu" aria-labelledby="navDropDownLink" style="left:-40px;">
          <a class="dropdown-item" [routerLink]="['/profile']">Update Profile</a>
          <div class="dropdown-divider"></div>
          <button (click)="logout()" class="dropdown-item">Logout</button>
        </div>
      </li>


      <li class="nav-item dropdown" *ngIf="isEmployeePage()">
        <a href="#" class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ (employerProfile | async)?.profile.fullName }}
              </a>
        <div class="dropdown-menu" aria-labelledby="navDropDownLink" style="left:-40px;">
          <a class="dropdown-item" [routerLink]="['/employer/profile']">Update Profile</a>
          <div class="dropdown-divider"></div>
          <button (click)="logout()" class="dropdown-item">Logout</button>
        </div>
      </li>
    </ul>
  </div>

</div>
