<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a [routerLink]="['/home']" class="navbar-brand">Our Job Search</a>

  </div>
  <span *ngIf="isAuthenticated()">
      <button  (click)="logout()" class="btn border-danger" >Logout</button>
  </span>
  <span *ngIf="!isAuthenticated()">
      <a [routerLink]="['/signup']" class="btn border-primary" style="margin-right:10px;">Sign Up</a>
      <a [routerLink]="['/login']" class="btn border-success" >LogIn</a>
  </span>
</nav>
